<template>
  <div>
    <CpTabs></CpTabs>
  </div>
</template>

<script>

import CpHello from './components/Hello.vue'
import CpTabs  from './components/Tabs.vue'


export default {
  name: 'app',
  components:{
    CpHello,
    CpTabs
  }
}

</script>

<style lang="scss">

</style>
